@media screen and (max-width:375px){    
    header .container{
        flex-direction: column;
    }

    header .container .links{
        display: none;
    }

    #bar{
        display: flex;
        flex-direction: column;
    }

    #bar .links{
        display: none;
    }

    #Services .box{
        width: 300px;
        height: 200px;
        margin-left: 10px;
    }

    #Services .services_container{
        flex-direction: column;
    }

    #Projects .box0{
        width: 300px;
        height: 200px;
        margin-left: 10px;
    }

    #Projects .projects_container{
        flex-direction: column;
    }

    #About .about_container{
        flex-direction: column;
        justify-content: center;
    }
    
    #About  .about_container .circle{
        display: none;
    }

    #About  .about_container .box1{
        margin-left: 10px;
        width: 270px;
        height: 400px;
    } 
    
    #Contacts .contacts_container{
        flex-direction: column;
    }

    #Contacts .contacts_container .box2{
        display: none;
    }

    #Contacts .contacts_container .response{
        margin-left: 180px;
    }
}

@media screen and (min-width:390px) and (max-width:800px){
    header .container{
        flex-direction: column;
    }

    header .container .links{
        display: none;
    }

    #bar{
        display: flex;
        flex-direction: column;
    }

    #bar .links{
        display: none;
    }

    #Services .box{
        width: 300px;
        height: 200px;
    }

    #Services .services_container{
        flex-direction: column;
    }

    #Projects .box0{
        width: 300px;
        height: 200px;
    }

    #Projects .projects_container{
        flex-direction: column;
    }

    #About .about_container{
        flex-direction: column;
        justify-content: center;
    }
    
    #About  .about_container .circle{
        display: none;
    }

    #About  .about_container .box1{
        margin-right: 30px;
        width: 250px;
        height: 500px;
    } 
    
    #Contacts .contacts_container{
        flex-direction: column;
    }

    #Contacts .contacts_container .box2{
        display: none;
    }

    #Contacts .contacts_container .response{
        margin-left: 128px;
    }

}



@media screen and (min-width:810px) and (max-width:1170px){
    #Services .box{
        width: 260px;
        height: 400px;
    }
    #Projects .box0{
        width: 260px;
        height: 400px;
    }

    #About  .about_container .box1{
        width: 365px;
        height: 400px;
    }

    #About  .about_container .circle{
        width: 300px;
        height: 300px;
    }

    #bar .links{
        padding-left: 500px;
        margin-top: 200px;
    }
}
